{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Web Tech</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
<!--
<script language="javascript" type="text/javascript">

function clearText(field) {
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}

</script> -->
</head>
<body>
<div id="header">
    <div id="site_title"> <a href="{% url 'index' %}"></a> </div>
    <!-- Insert Newsletter here -->
  <div class="cleaner"></div>
</div>
<!-- end of header -->
<div id="menu_wrapper">
  <div id="menu">
    <ul>
      <!-- One can place 'class="current"' so the active page shows with a different BG in the menu -->
      <li><a href="{% url 'index' %}"><span></span>Home</a></li>
      <li><a href="{% url 'list_products' %}"><span></span>Shop</a></li>
      <li><a href="{% url 'contact' %}"><span></span>Contact Us</a></li>
      <li><a href="{% url 'news' %}"><span></span>News</a></li>
      <li><a href="{% url 'about' %}"><span></span>About</a></li>
    </ul>
  </div>
</div>
<!-- end of menu -->
{% block page_content %}
    <!-- Extending block -->
{% endblock %}
<div id="footer">
  <ul class="footer_menu">
    <li class="first"><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'list_products' %}">Shop</a></li>
    <li><a href="{% url 'contact' %}">Contact Us</a></li>
    <li><a href="{% url 'news' %}">News</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
  </ul>
  Copyright &copy; 2022 <a href="{% url 'index' %}">Friend of Tech</a> | Designed by FriendofTech</div>
</body>
</html>