{% extends 'base/base.html' %}

{% block page_content %}
    <div id="main"><span class="tm_bottom"></span>
        <div id="my-content">
            <div class="profile-edit">
                <form method="POST" action="{% url 'change-password' %}">
                    <b>Old Password:</b>
                    {{ form.old_password }}
                    {{ form.old_password.errors }}
                    <b>New password:</b>
                    {{ form.new_password1 }}
                    {{ form.new_password1.errors }}
                    <b>Confirm new password:</b>
                    {{ form.new_password2 }}
                    {{ form.new_password2.errors }}
                    {% csrf_token %}
                    <button>Change password</button>
                </form>
            </div>
        </div>
        <div class="cleaner"></div>
    </div>

{% endblock %}