{% extends 'base/base.html' %}

{% block page_content %}
    <div id="main"><span class="tm_bottom"></span>
        <div id="my-content">
            <div class="profile-edit">
                <form method="POST" action="{% url 'profile-edit' pk=object.id %}">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button>Save changes</button>
                </form>
                <div>
                    <a href="{% url 'change-password' %}">Change password</a>
                </div>
            </div>
        </div>
        <div class="cleaner"></div>
    </div>

{% endblock %}