{% extends 'base/base.html' %}

{% block page_content %}
    <div id="main">
        <div id="innerMain">
            <div id="profile-details">
                    {{ object.first_name }}
                    {{ object.last_name }}
                    {{ object.email }}
                    {{ object.date_joined }}
            </div>
            {% if request.user.id == object.id or request.user.is_staff %}
            <div id="profile-actions">
                <a href="{% url 'profile-edit' pk=object.pk %}">Edit Profile</a>
            </div>
            {% endif %}
        </div>
        <div class="cleaner"></div>
    </div>

{% endblock %}