{% extends 'base/base.html' %}
{% block page_content %}
    <div id="main">
        <div id="innerMain">
            <form method="post" action="{% url 'sign-up' %}">

                <div id="sign-up-form" class="flex-parent">
                    <div><h1>Sign Up!</h1></div>
                    <div>{{ form.first_name }}</div>
                    <div>{{ form.last_name }}</div>
                    <div>{{ form.email }}</div>
                    <div>{{ form.password1 }}</div>
                    <div>{{ form.password2 }}</div>
                    <div>{{ form.errors }}</div>

                    {% csrf_token %}
                    <div>
                        <a><button class="button-new">Register</button></a>
                    </div>
                    <div>
                        <a href="{% url 'sign-in' %}" class="button-new">Sign in!</a>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}