{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div id="main">
        <div id="innerMain">
            <div id="article-page-parent">
                <div id="article-page-image">
                    <img src="{% static article.image.url %}" alt="article-image" />
                </div>
                <div id="article-page-text">
                    <div id="article-page-title"></div>
                    <div id="article-page-summary"></div>
                </div>
            </div>

            <div class="back-to-news-btn">
                <a href="{% url 'news' %}">Back</a>
            </div>
        </div>
    </div>

{% endblock %}