{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div id="main">
        <div id="innerMain">
            <div id="article-page-parent">
                <div id="article-page-image">
                    <div id="article-page-title" style="text-align: center; margin-bottom: 30px;"><b>{{ article.title }}</b></div>
                    <div id="article-page-summary">
                        <img src="{% static article.image.url %}" alt="article-image" style="float:left; margin-bottom: 10px; margin-right:20px;"/>
                    <p style="text-align:justify; margin: 5px;">{{ article.content }}</p>
                    </div>
                </div>
            </div>

            <div id="back-to-news-btn">
                <a href="{% url 'news' %}" class="regular-btn">Back</a>
            </div>
        </div>
    </div>

{% endblock %}