{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}
    <div id="main">
        <div id="home-inner">
            <div id="recommendedProducts" class="flex-child home-inner-section">
                <div class="flex-child flex-parent">
                    {% for product in popular_products %}
                        <div class="product-internal">
                            <div class="r-product-image">
                                <img src="{% static product.image.url %}" alt="product-image"/>
                            </div>
                            <div class="r-product-details">
                                <div class="r-product-name">
                                    {{ product.name }}
                                </div>
                                <div class="r-product-price">
                                    {{ product.price }} $
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div id="visit-shop" class="flex-child flex-parent">
                    <div class="flex-child"><a href="{% url 'product-list' %}">Visit Shop</a></div>
                </div>

            </div>
            <div id="search-bar" class="flex-child home-inner-section">
                <div id="search-container">
                    <form class="search-form">
                        <div>
                            <label for="search">
                                <input class="search-form-input" type="search" placeholder="Search"
                                       name="search"></label>
                        </div>
                        <div>
                            <button class="fade-in-button" id="search-btn">Search</button>
                        </div>

                    </form>
                </div>
            </div>
            <div id="latest-articles" class="flex-child home-inner-section">
                <div class="flex-child flex-parent">
                    {% for article in latest_articles %}
                        <div class="article-internal">
                            <div class="r-article-name">
                                {{ article.title }}
                            </div>
                            <div class="article-details-btn">
                                <a href="{% url 'article-details' pk=article.pk %}" class="article-btn">Full article</a>

                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div id="visit-articles" class="flex-child flex-parent">
                    <div class="flex-child"><a href="{% url 'news' %}" class="regular-btn">Check all articles</a></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}