{% extends 'base/base.html' %}
{% load static %}
{% load filters %}
{% block page_content %}
    <div id="main">
        <div id="innerMain">
            <section id="cart">
                <div class="title">Shopping Cart</div>
                <div id="products">
                    {% for product in products %}
                        <div class="product">
                            <div class="product-name">
                                {{ product.name }}
                            </div>
                            <div class="product-price">
                                {{ product.price }}$
                            </div>
                            <div class="product-quantity">
                                <div class='cart-add-remove'><img src="{% static 'media/plus-icon-16.png' %}" alt="add"/></div>
                                {{ quantities_per_name|get_dict_value:product.name }}
                                <div class="cart-add-remove"><img src="{% static 'media/minus-icon-16.png' %}" alt="remove"/></div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="cart-btn"><a href="{% url 'checkout' pk=request.user.pk %}">Checkout</a></div>
                    <div class="cart-btn">Remove</div>
                </div>
                <div>

                </div>
            </section>
        </div>
    </div>

{% endblock %}