{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div id="main">
        <div id="innerMain">
            <section id="cart">
                <div class="title">Shopping Cart</div>
                <div id="products">
                    {% for product in products %}
                        <div class="product">
                            <div class="product-name">{{ product.name }}</div>
                            <div class="product-price">{{ product.price }}$</div>
                            <div class="product-quantity">Something</div>
                        </div>
                    {% endfor %}
                    <div class="cart-btn"><a href="{% url 'checkout' pk=request.user.pk %}">Checkout</a></div>
                    <div class="cart-btn">Remove</div>
                </div>
                <div>

                </div>
            </section>
        </div>
    </div>

{% endblock %}