{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div id="main">
        <div id="innerMain">
            <section id="cart-order">
                <div class="title">Shopping Cart</div>
                <div id="products">
                    {% for op in orderproducts %}
                        <div class="product">
                            <span class="checkout-product-name">{{ op.product.name }}</span>
                            <span class="checkout-product-quantity">{{ op.quantity }}$</span>
                        </div>
                    {% endfor %}
                    <div class="checkout-price">
                        Total price: {{ order.total_price }}
                    </div>
                    <div class="cart-btn"><a href="{% url 'confirm-order' pk=request.user.pk %}">Confirm & Submit order</a></div>
                    <div class="cart-btn"><a href="{% url 'edit-order-cart-redirect' %}">Edit Order</a></div>
                </div>
                <form></form>
                <div>

                </div>
            </section>
        </div>
    </div>

{% endblock %}