{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div id="main"><span class="tm_bottom"></span>
        <div id="main">
            <div class="product-list-inner">
                {% for object in object_list %}
                    <div class="product-in-list">
                        <div class="product-image">
                            <img src="{% static object.image.url %}" alt="product-image"/>
                        </div>
                        <div class="product-details">
                            <section class="product-details-top">
                                <div class="product-name">{{ object.name }}   -   {{ object.price }} $</div>
                            </section>
                            <section class="product-details-bottom">
                                <div class="buttons">
                                    <a href="{% url 'add-to-cart' pk=request.user.pk product_pk=object.pk %}" class="regular-btn">Add to
                                        Cart</a>
                                    <a href="{% url 'product-details' object.pk %}" class="regular-btn">Details</a>
                                </div>
                            </section>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
        <div class="cleaner"></div>
    </div>

{% endblock %}