{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div id="main">
        <div id="innerMain">
            <div id="product-details-section">
                <div id="product-details-single">
                    <div id="image-and-name" class="flex-parent">
                        <div class="flex-child">
                            <img src="{% static product.image.url %}" alt="product-image"/>
                        </div>
                        <div class="flex-child">
                            <b>{{ product.name }}</b>
                        </div>
                    </div>
                    <br/>
                    <div id="product-other-details" class="flex-parent">
                        <div class="flex-child" id="in-stock">
                            In stock:
                            {% if product.quantity > 0 %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </div>
                        <div class="flex-child" id="product-price-single">
                            Price: {{ product.price }} $
                        </div>

                        <div class="flex-child" id="product-added-single">
                            Added on: {{ product.added }}
                        </div>
                        <br/>
                        <div class="flex-child">
                            {{ product.description }}
                        </div>
                    </div>
                <br/><br/>
                    <div id="product-details-add-to-cart">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'add-to-cart' pk=request.user.pk product_pk=object.pk %}" class="regular-btn">Add
                            to
                            Cart</a>
                        {% endif %}
                    </div>
                </div>

            </div>
            <div id="product-reviews-section" class="flex-parent">
                <div id="write-review" class="flex-child">
                    <div id="write-review-btn">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'write-review' pk=request.user.pk pid=object.pk %}" class="regular-btn">Write a
                            review</a>
                        {% endif %}
                    </div>
                </div>
                <div id="reviews" class="flex-child">
                    {% if reviews.exists %}
                        {% for review in reviews %}
                            <div class="review-list">
                                <div id="reivew-author">
                                    {{ review.author }}
                                </div>
                                {% if review.is_positive %}
                                    <div><img src="{% static 'images/thumbs-up.png' %}" alt="up"></div>
                                {% else %}
                                    <div><img src="{% static 'images/thumbs-down.png' %}" alt="up"></div>
                                {% endif %}
                                <div id="comment">
                                    {{ review.comment }}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <b>There are no reviews for this product</b>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="cleaner"></div>
    </div>

{% endblock %}