{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div id="main"><span class="tm_bottom"></span>
        <div id="main">
            <div class="product-list-inner">
                {% for object in object_list %}
                    <div class="product-in-list">
                        <!-- TODO: Replace Image src below!!! {% static object.image.url %} -->
                        <div class="product-image">
                            <img src="{% static 'images/product-test-resized.png' %}" alt="product-image"/>
                        </div>
                        <div class="product-details">
                            <section class="product-details-top">
                                <div class="product-name">{{ object.name }}</div>
                            </section>
                            <div class="product-price">{{ object.price }} $</div>
                            <section class="product-details-bottom">
                                <div class="buttons">
                                    <a href="{% url 'add-to-cart' pk=request.user.pk product_pk=object.pk %}">Add to
                                        Cart</a>
                                    <a href="{% url 'product-details' object.pk %}">Details</a>
                                </div>
                            </section>
                        </div>
                    </div>
                {% endfor %}
                {#                {% for object in object_list %}#}
                {#                    <ul>#}
                {#                        <li>#}
                {#                            <img src="{% static object.image.url %}" alt="product-image"/></li>#}
                {#                        <li>#}
                {#                            <h5>Name:</h5>{{ object.name }}</li>#}
                {#                        <li>#}
                {#                            <h5>Price:</h5>{{ object.price }} $</li>#}
                {#                        <li>#}
                {#                            <h5>Description:</h5>{{ object.description }}</li>#}
                {#                        <li>#}
                {#                            <a href="{% url 'product-details' pk=object.pk %}">View Product</a>#}
                {#                        </li>#}
                {#                    </ul>#}
                {#                {% endfor %}#}
            </div>
        </div>
        <div class="cleaner"></div>
    </div>

{% endblock %}