{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div id="main">
        <div id="innerMain">
            <form method="post">
                {% csrf_token %}
                <div id="write-review">
                    <div id="review-header">
                        You are writing a review for product <b>{{ product.name }}</b>
                    </div>

                    <br/>
                    <div id="review-comment">{{ form.comment }}</div>
                    <br/>
                    <div id="review-is-positive">Are you happy with the product? (check for
                        'yes') {{ form.is_positive }}</div>
                    <br/>
                    <div id="review-buttone">
                        <button>Submit</button>
                    </div>

                </div>
            </form>
        </div>
    </div>

{% endblock %}