/* This is a button for A tag */
.btn {
    display: inline-block;
    color: white;
    font-weight: 300;
    font-size: 20px;
    background: #549DA0;
    border: none;
    border-radius: 12px;
    padding: 12px 16px;
    cursor: pointer;
}

.btn:hover {
    background: #468486;
}