body {
    background-image: url(../images/body.jpg);
	background-repeat: repeat;
    color: rgb(250, 250, 250);
    font-family: Montserrat, sans-serif;
}

#container {
    margin: 0 auto;
    max-width:  70%;
    background: rgba(150, 150, 147, 0.1);
    /* background-color: antiquewhite; */
}

#container a:link, a:visited {
    color: white;
    text-align: center;
    text-decoration: none; 
}

/* HEADER */

#header {
    margin: 0 auto;
    padding: 50px 65px 0 65px;
}

/* TOP HEADER SECTION */

#logo {
    display:inline-block;
    padding: 0;
}

.userSection ul {
    list-style: none; 
}

.userSection li { 
    display: inline-block;
    font-size: 14px; 
}

.userSection {
    float: right;
}

/* BOTTOM HEADER SECTION */

#bottom-header-section {
    max-width: 100%;
    margin: 0;
}
#menu {
    padding: 0;
}

#menu ul {
    list-style: none;
    width: 100%;
    padding: 0;
}

#menu li {
    display: inline-block;
    width: 19%;
    margin: 0 auto;
    /* background-color: aquamarine; */
}


#menu ul li a {
    display: inline-block;
    color: rgb(255, 255, 254);
    font-weight: 400;
    font-size: 18px;
    background: #524f4a;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px 2px;
    text-align: center;
    margin-left: 11px;
    width:100%;
    letter-spacing: 1px;
    opacity: 0.8;
}

#menu ul li a:hover {
    background-color: #46423c;;
}

#main {
    background: rgba(82, 80, 80, 0.2);
    width: 100%;
    border-radius: 5px;
    padding-top: 15px;
    min-height: 200px;
    overflow: hidden;
}

#innerMain {
    background: black;
    width: 83%;
    margin: 0 auto;
    min-height: 200px;
    overflow: hidden;
    padding: 50px 50px;
}
#footer {
    background-color: rgba(82, 80, 80, 0.2);
    width: 100%;
    border-radius: 5px;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
  }


#cart {
    width: 100%;
    background: rgba(120, 80, 80, 0.8);
    min-height: 200px;
    overflow: hidden;
    padding: 50px 50px;
    box-sizing: border-box;
}

.title {
    margin: 0 auto;
    padding: 10px 20px;
    background: rgba(255, 170, 71, 0.5);
    border: 1px solid black;
}

.product {
    margin: 0 auto;
    background: rgba(255, 65, 71, 0.5);
    border: 1px solid black;
}

#products {
    margin: 0 auto;
    background: rgba(240, 170, 71, 0.5);
    min-height: 200px;
    overflow: hidden;
}

.product-name {
    display: inline-block;
}

.product-price {
    display:inline-block;
}

.product-quantity {
    display: inline-block;
 }

.cart-add-remove {
    display: inline-block;
}