body {
    background-image: url(../images/body.jpg);
    background-repeat: repeat;
    color: rgb(250, 250, 250);
    font-family: Montserrat, sans-serif;
}

#container {
    margin: 0 auto;
    max-width: 70%;
    background: rgba(150, 150, 147, 0.1);
    /* background-color: antiquewhite; */
}

#container a:link, a:visited {
    /*color: white;*/
    text-align: center;
    text-decoration: none;
}

.profile-cart {
    color: white;
    text-align: center;
    text-decoration: none;
}

/* HEADER */

#header {
    margin: 0 auto;
    padding: 50px 65px 0 65px;
}

/* TOP HEADER SECTION */

#logo {
    display: inline-block;
    padding: 0;
}

.userSection ul {
    list-style: none;
}

.userSection li {
    display: inline-block;
    font-size: 14px;
}

.userSection {
    float: right;
}

/* BOTTOM HEADER SECTION */

#bottom-header-section {
    max-width: 100%;
    margin: 0;
}

#menu {
    padding: 0;
}

#menu ul {
    list-style: none;
    width: 100%;
    padding: 0;
}

#menu li {
    display: inline-block;
    width: 19%;
    margin: 0 auto;
    /* background-color: aquamarine; */
}


#menu ul li a {
    display: inline-block;
    color: rgb(255, 255, 254);
    font-weight: 400;
    font-size: 18px;
    background: #524f4a;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px 2px;
    text-align: center;
    margin-left: 11px;
    width: 100%;
    letter-spacing: 1px;
    opacity: 0.8;
}

#menu ul li a:hover {
    background-color: #46423c;;
}

#main {
    background: rgba(82, 80, 80, 0.2);
    width: 100%;
    border-radius: 5px;
    padding-top: 15px;
    min-height: 200px;
    overflow: hidden;
}

#innerMain {
    /*background: black;*/
    width: 90%;
    margin: 0 auto;
    min-height: 200px;
    overflow: hidden;
    padding: 50px 50px;
    box-sizing: border-box;
}

#footer {
    background-color: rgba(82, 80, 80, 0.2);
    width: 100%;
    border-radius: 5px;
    height: 100px;
    position: relative;
    text-align: center;
}

#copyright {
    position: absolute;
    margin: 0 auto;
    bottom: 10px;
    width: 100%;
    font-size: 12px;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}


#cart-order {
    width: 100%;
    /*background: rgba(120, 80, 80, 0.8);*/
    min-height: 200px;
    overflow: hidden;
    padding: 50px 50px;
    box-sizing: border-box;
}

/*.title {*/
/*    margin: 0 auto;*/
/*    padding: 10px 20px;*/
/*    !*background: rgba(255, 170, 71, 0.5);*!*/
/*    border: 1px solid black;*/
/*}*/

.product {
    margin: 0 auto;
    /*background: rgba(255, 65, 71, 0.5);*/
    /*border: 1px solid black;*/
    /*background: black;*/
    width: 100%;
    padding: 20px 0;
}

.cart-btn {
    display: inline-block;
}
#products {
    margin: 0 auto;
    background: rgba(66, 63, 50, 0.6);
    min-height: 200px;
    overflow: hidden;
    flex-flow: column nowrap;
    width: 100%;
    padding: 70px 60px;
    border-radius: 5px;
    border: 4px solid #232119;
}

#products div {
    padding: 11px 15px;
}

.product-name {
    display: inline-block;
}

.product-price {
    display: inline-block;
}

.product-quantity {
    display: inline-block;
}

.cart-add-remove {
    display: inline-block;
}

#about-us-section {
    background: rgba(19, 18, 18, 0.5);
    width: 100%;
    padding: 20px 50px;
    margin: 0 auto;
    min-height: 200px;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px dotted black;
    text-align: justify;
    text-justify: inter-word;
}


.email {
    font-weight: bold;
    font-style: italic;
}

#about-text {
    width: 90%;
    padding: 1% 3%;
}

#about-image {
    width: 90%;
    padding: 1% 3%;
}

.product-in-list div {
    display: inline-block;
    margin: 0 auto;
}

.product-list-inner {
    width: 93%;
    margin: 0 auto;
    padding: 15px 10px;
}

.product-in-list {
    background: rgba(255, 255, 255, 0.2);
    padding: 15px 10px;
    border: 1px solid white;
}

.product-image {
    padding: 15px;
    border: 1px ridge black;
    background: rgb(252, 251, 251);
}

.product-details {
    /*background: rgba(19, 18, 18, 0.5);*/
    width: 700px;
    height: 100px;
    padding-left: 30px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    /*border: 2px dotted black;*/
}

#product-details-add-to-cart {

}

#product-details-single {
    background: rgb(255,255,255);
    color: black;
    padding: 40px;
    border-radius: 5px;
}

#in-stock {
    text-align: left;
    width: 100%;
}

#product-price-single {
    text-align: left;
    width: 100%;
}

#product-added-single {
    text-align: left;
    width: 100%;
}

#image-and-name {
    flex-flow: row nowrap;
}

#product-other-details {
    flex-flow: column nowrap;
}

.product-details-bottom {
    margin: 10px;
}
#product-reviews-section {
    background: rgba(255,255,255, 0.4);
    color: black;
    padding: 40px;
    border-radius: 5px;
    margin-top: 30px;
    flex-flow: column nowrap;
}

#reviews {
    margin: 30px auto 10px auto;
}
/* HOMEPAGE */

#home-inner {
    width: 95%;
    margin: 0 auto;
    padding: 35px 0;
    display: flex;
    flex-flow: column nowrap;
    /*background: rgba(102, 102, 105, 0.68);*/
}

#recommendedProducts {
    width: 98%;
    margin: 0 auto;
    border: 7px solid #524f4a;
    padding: 20px;
    flex-flow: column nowrap;
    box-sizing: border-box;
    display: flex;
    background: rgb(255, 255, 255);
    color: black;
}


#recommendedProducts a {
    color: rgb(255, 255, 254);
    font-weight: 400;
    font-size: 12px;
    background: #524f4a;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: 12px 10px;
    text-align: center;
    margin-left: 11px;
    width: 150px;
    letter-spacing: 1px;
    opacity: 0.8;
    height: 12px;
}

#visit-shop {
    margin-top: 15px;
}

.product-internal {
    color: black;
    width: 30%;
    margin: auto;
    display: flex;
}

.r-product-details {
    font-size: 12px;
    padding: 25px 5px;

}

.r-product-image {
    display: inline-block;
    padding-top: 40px;

}

.r-product-name {
    display: inline-block;
    /*float: top;*/
    margin: 20px;
    padding: 20px;
}

.r-product-price {
    display: inline-block;
    font-size: 14px;

}

#search-bar {
    /*border: 1px solid black;*/
    width: 98%
}

#latest-articles {
    border: 7px solid #524f4a;
    width: 98%;
    padding: 25px;
    box-sizing: border-box;
    font-size: 13px;
}

.home-inner-section {
    /*background: rgba(30, 70, 124, 1);*/
}

.flex-parent {
    display: flex;
}

.flex-child {
    margin: auto;
}

#article-page-parent {
    display: flex;
}

#article-page-title {
    margin: auto;
}

#article-page-summary {
    margin: auto;
}


#contact-form {
    margin: auto;
    width: 90%;
}

#profile-details-container {
    background: rgba(255, 255, 240, 0.1);
    border: 1px solid black;
    border-radius: 5px;
    padding: 40px;
}

#profile-details {
    width: 60%;
}


.profile-details-div {
    text-align: left;
    width: 50%;
}

#profile-actions {
}

#profile-actions a {
    background: white;
    color: #000000;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: 10px 40px;
    text-align: center;
    margin-left: 11px;
    font-weight: 800;
    font-size: 14px;
}


#contact-form div {
    margin: 10px 0;
    width: 50%;
}

#search-form div {
    display: inline-block;
    width: 30%;
    margin: 10px 0;
}

#contact-form input {
    width: 310px;
}

label {
    display: inline-block;
}

.fade-in-button {
    background-color: #2c2a27;
    border: 1px dotted black;
    color: white;
    padding: 0 80px;
    text-align: center;
    margin-left: 11px;
    font-size: 13px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    height: 22px;
    cursor: pointer;
}

.fade-in-button-two {
    background-color: #969491;
    border: 1px dotted black;
    color: #020202;
    padding: 0 80px;
    text-align: center;
    margin-left: 11px;
    font-size: 16px;
    opacity: 0.6;
    font-weight: bold;
    transition: 0.3s;
    display: inline-block;
    height: 25px;
    cursor: pointer;
}

.fade-in-button:hover {opacity: 1}

#latest-news div {
    display: inline-block;
    box-sizing: border-box;
    width: 30%;
}

#latest-news input {
    position: fixed;
}

.article-internal {
    /*border: 1px solid grey;*/
    color: #fafafa;
    width: 25%;
    border: 1px dotted black;
    height: 80px;
    margin: auto;
    display: flex;
    background: rgba(161, 154, 154, 0.5);
    padding: 15px 15px;
    flex-flow: column nowrap;
}
.r-article-name {

}

#visit-articles {
    margin-top: 30px;
}

#search-container {
    padding: 25px;
    margin: 20px auto;
    display: flex;
    flex-flow: row nowrap;
    border: 7px solid #524f4a;

}
#search-container div {
    display: inline-block;
}
#search-btn {
    margin-left: 100px;
    background: rgba(126, 120, 120, 0.5);
    border: 1px solid black;
    height: 27px
}

.article {
    background: rgba(255,255,255,0.1);
    border: 1px solid black;
    padding: 20px 20px;
    flex-flow: column nowrap;
    margin: 10px 0;
    height: 100px;
}

.pagination {
    margin: auto;
    width: 80%;
    box-sizing: border-box;
    text-align: center;

}

/*.inner-article {*/
/*    display: flex;*/
/*    flex-flow: row nowrap;*/
/*}*/

/*.outer-article {*/
/*    display: flex;*/
/*    flex-flow: column nowrap;*/
/*}*/


.regular-btn {
    background: rgba(26, 25, 25, 0.5);
    color: #fdfafa;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: 10px 40px;
    text-align: center;
    margin-left: 11px;
    font-weight: 800;
    font-size: 14px;
}

.article-btn {
    background: rgba(26, 25, 25, 0.5);
    color: #fcf9f9;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    /*padding: 10px 40px;*/
    text-align: center;
    /*margin-left: 11px;*/
    font-weight: 800;
    font-size: 13px;
    width: 100px;
}

#form {
    display: flex;
    flex-flow: row nowrap;
    background: rgba(255,255,255, 0.5);
    border-radius: 5px;
    padding: 80px 120px;
    color: black;
}

#sign-up-form div {
    margin: 0 auto;
    padding: 5px 10px;
}

#sign-up-form {
    display: flex;
    flex-flow: column nowrap;
    background: grey;
    padding-bottom: 30px;
    border-radius: 5px;
    border: 2px solid #463c31;
}
.button-new {
    /*border: none;*/
    /*background: rgba(49, 47, 47, 0.9);*/
    color: #faf7f7;
    background: #524f4a;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    padding: 10px 40px;
    text-align: center;
    margin-left: 11px;
}
.button-new:hover {
    background: #3d3b37;
}
#back-to-news-btn {
    margin: 30px;
}
#sign-in-form-div {
    flex-flow: column nowrap;
}

#sign-in-form-div div {
    /*flex-flow: column nowrap;*/
    /*padding: 0 10px;*/
}

#check-articles-btn {
    background: rgba(161, 157, 157, 0.5);

    color: #000000;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    /*padding: 10px 40px;*/
    text-align: center;
    /*margin-left: 11px;*/
    font-weight: 800;
    font-size: 13px;
    width:200px;
}


#sign-in-form {
    width: 80%;
}

#write-review {
    display: flex;
    flex-flow: column nowrap;
}

#write-review div {
    margin: 0 auto;
}

.review-list {
    background: grey;
    padding: 20px 10px;
    border: 1px solid black;
    display: flex;
    flex-flow: row nowrap;

}

.review-list div {
    margin: 0 auto;
}

.comment {
    width: 60%;
}
